body {
    background-color: lightgray;
    font-family: cursive;
    /*background-image: url('../images/car_logo.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-close {
    position: absolute;
    right: 0;
}

.content {
    flex: 1 0 auto;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.centered-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
