body {
    background-color: rgb(56, 55, 55);
    font-family: cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: wheat;
}

.btn-close {
    position: absolute;
    right: 0;
}

.content {
    flex: 1 0 auto;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.centered-content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#flashed-message-container {
    position: fixed;
    top: 20px; 
    left: 0;
    right: 0;
    z-index: 9999; 
    visibility: hidden;
    justify-content: center;
}

.navbar-brand{
    color: wheat;
    margin-left: 20px;
    position: absolute;
}

.navbar-brand:hover{
    color: wheat;
}

@media (max-width: 768px) {
    .navbar-brand {
        position: relative;
    }
}