{% extends "layout.html" %}

{% block page_title %}
Visi lietotāji
{% endblock %}

{% block head_inners %}
<script src="{{url_for('static', filename='js/showdesc.js')}}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <form method="get" action="/all_users" class="form" style="margin-top: 10px;">
        <div class="row g3 align-items-center">
            <div class="col-auto">
                <label for="search_field" class="col-form-label">Meklēt pēc:</label>
            </div>
            <div class="col-auto">
                <select id="search_field" class="form-select form-select-sm" name="search_field">
                    <option value="name">Vārds</option>
                    <option value="surname">Uzvārds</option>
                    <option value="phoneNumber">Telefona numurs</option>
                    <option value="brand">Marka</option>
                    <option value="model">Modelis</option>
                    <option value="carNum">Automašīnas numurs</option>
                    <option value="carVin">Vin numurs</option>
                    <option value="date">Datums</option>
                </select>
            </div>
            <div class="col-auto">
                <input type="text" id="search_value" class="form-control form-control-sm" name="search_value" placeholder="Ievadi meklējamo vērtību">
            </div>
            <div class="col-auto">
                <input type="submit" value="Meklēt" class="form-control form-control-sm" style="background-color: gold;">
            </div>
        </div>
    </form>
    <table class="table table-striped-columns" style="margin-top: 10px; text-align: center;">
        <thead>
            <tr>
                <th>Vārds, Uzvārds</th>
                <th>Epasts</th>
                <th>Telefona numurs</th>
                <th>Marka, Modelis</th>
                <th>Apraksts</th>
                <th>Numurs</th>
                <th>Vin</th>
                <th>Pakalpojuma ID</th>
                <th>Datums</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for row in data %}
            <tr>
                <td>{{ row[0] }} {{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }} {{ row[5] }}</td>
                <td>
                    <button class="btn btn-outline-dark" onclick="showDescription(this)">Rādīt aprakstu</button>
                    <div class="description" style="display: none;">{{ row[11] }}</div>
                </td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>{{ row[9] }}</td>
                <td>
                    {% if row[10] %}
                        <i class="bi bi-check-square-fill" style="color: green;"></i>
                    {% else %}
                        <i class="bi bi-x-square-fill" style="color: red;"></i>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="11">
                    Nav datu!
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}  