{% extends "layout.html" %}

{% block page_title %}
Sākumlapa
{% endblock %}

{% block head_inners %}
{% endblock %}

{% block main_content %}
<br>
<p>Šī lapa ir izveidota, lai sniegtu autoservisa lietotājiem iespēju sekot līdzi savam auto.</p>
<br>
<h3>Kā lietot šo lapu?</h3>
<p>1. Jums jābūt izveidotam savam kontam. Tas ir izdarāms <a href="sign_up" class="link-primary">šeit</a>! Konta izveidei ir jālieto epasts, vārds un uzvārds, kuru norādījāt servisa apmeklējuma laikā. Jūs drīkstat brīvi izvēlēties savu paroli, bet tās garumam jābūt vismaz 7 simboli.</p>
<p>2. Pēc konta izveides jums nāksies ielogoties ar epastu un tikko izveidoto paroli. To var izdarīt <a href="login" class="link-primary">šeit</a>!</p>
<p>Ja gadījumā parole tiek aizmirsta lūgums kontaktēties ar mums car epastu sample@epasts.lv</p>
<br>
<h3>Neparedzētas kļūdas vai problēmas?</h3>
<p>Dodied mums par to ziņu uz epastu sample@epasts.lv</p>

{% endblock %}