{% extends "layout.html" %}

{% block page_title %}
Uzgaidāmā telpa
{% endblock %}

{% block head_inners %}
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <table class="table table-striped-columns" style="margin-top: 10px; text-align: center;">
        <thead>
            <tr>
                <th>Vārds</th>
                <th>Uzvārds</th>
                <th>Epasts</th>
                <th>Telefona numurs</th>
                <th>Marka</th>
                <th>Modelis</th>
                <th>Numurs</th>
                <th>Vin</th>
                <th>Pakalpojuma ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <!--in a for there will be all this good stuff-->
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ fixID }}</td>
                <td>
                    <button class="btn" style="padding: 0; margin: 0;">
                        <i class="bi bi-check-square-fill" style="font-size: 16px; color: green;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}