{% extends "layout.html" %}

{% block page_title %}
Uzgaidāmā telpa
{% endblock %}

{% block head_inners %}
<script src="{{url_for('static', filename='js/showdesc.js')}}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <table class="table table-striped-columns" style="margin-top: 10px; text-align: center;">
        <thead>
            <tr>
                <th>Vārds, Uzvārds</th>
                <th>Datums</th>
                <th>Epasts</th>
                <th>Telefona numurs</th>
                <th>Marka, Modelis</th>
                <th>Apraksts</th>
                <th>Numurs</th>
                <th>Vin</th>
                <th>Pakalpojuma ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for person, car in data %}
                <tr>
                    <td>{{ person[0] }} {{ person[1] }}</td>
                    <td>{{ car[4] }}</td>
                    <td>{{ person[2] }}</td>
                    <td>{{ person[3] }}</td>
                    <td>{{ car[0] }} {{ car[1] }}</td>
                    <td><button onclick="showDescription(this, '{{ car[7] }}')">Rādīt aprakstu</button> <!-- Add this line -->
                        <div id="desc-{{ car[7] }}" style="display: none;">{{ car[7] }}</div></td>
                    <td>{{ car[2] }}</td>
                    <td>{{ car[3] }}</td>
                    <td>{{ car[5] }}</td>
                    <td>
                        <form method="POST" action="/update_car_status">
                            <input type="hidden" name="car_id" value="{{ car[5] }}">
                            <button class="btn" style="padding: 0; margin: 0;" type="submit">
                                <i class="bi bi-check-square-fill" style="font-size: 16px; color: green;"></i>
                            </button>
                        </form>  
                    </td>
                    </tr>
            {% else %}
                <p>Nav datu</p>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}