{% extends "layout.html" %}

{% block page_title %}
Uzgaidāmā telpa
{% endblock %}

{% block head_inners %}
<script src="{{url_for('static', filename='js/showdesc.js')}}"></script>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <form method="GET" action="/pending_page" style="margin-top: 10px;">
        <label for="search_field">Meklēt pēc:</label>
        <select id="search_field" name="search_field">
            <option value="name">Vārds</option>
            <option value="surname">Uzvārds</option>
            <option value="phoneNumber">Telefona numurs</option>
            <option value="brand">Marka</option>
            <option value="model">Modelis</option>
            <option value="carNum">Automašīnas numurs</option>
            <option value="carVin">Vin numurs</option>
            <option value="date">Datums</option>
        </select>
        <input type="text" id="search_value" name="search_value" placeholder="Ievadi meklējamo vērtību">
        <input type="submit" value="Search">
    </form>
    <table class="table table-striped-columns" style="margin-top: 10px; text-align: center;">
        <thead>
            <tr>
                <th>Vārds, Uzvārds</th>
                <th>Datums</th>
                <th>Epasts</th>
                <th>Telefona numurs</th>
                <th>Marka, Modelis</th>
                <th>Apraksts</th>
                <th>Numurs</th>
                <th>Vin</th>
                <th>Pakalpojuma ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }} {{ row[1] }}</td>
                <td>{{ row[9] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }} {{ row[5] }}</td>
                <td><button onclick="showDescription(this, '{{ row[11] }}')">Rādīt aprakstu</button> <!-- Add this line -->
                    <div id="desc-{{ row[11] }}" style="display: none;">{{ row[11] }}</div></td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
                <td>
                    <div style="display: flex;">
                        <form method="POST" action="/update_car_status" onsubmit="return confirm('Vai vēlaties pievienot ierakstu datubāzei?')" style="margin-right: 10px;">
                            <input type="hidden" name="car_id" value="{{ row[10] }}">
                            <button class="btn" style="padding: 0; margin: 0;" type="submit">
                                <i class="bi bi-check-square-fill" style="font-size: 16px; color: green;"></i>
                            </button>
                        </form>  
                        <form method="POST" action="/delete_car" onsubmit="return confirm('Vai vēlaties dzēst ierakstu?')">
                            <input type="hidden" name="car_id" value="{{ row[10] }}">
                            <button class="btn" style="padding: 0; margin: 0;" type="submit">
                                <i class="bi bi-trash-fill" style="font-size: 16px; color: red;"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="10">
                        Nav datu!
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}