{% extends "layout.html" %}

{% block page_title %}
Rezervācija
{% endblock %}

{% block main_content %}
<div class="container">
    <form class="from" method="POST" action="{{ url_for('views.reservation', car_id=car_id) }}">
        <h4 class="text-center">Ievadi problēmas aprakstu: </h4>
        <div class="form-group">
            <textarea placeholder="Problēma:" style="margin-top: 15px;" class="form-control" name="description" rows="5" cols="30"></textarea>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn" style="background-color: wheat; margin-top: 10px;">Saglabāt</button>        
        </div>
    </form>
</div>
{% endblock %}